// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.hide {
  display: none;
}
.cross {
  display: none;
  font-size: 19px;
  color: red;
  margin-left: 5px;
}
.cross:focus {
  outline: none;
}
.file-block {
  text-align: center;
  background: #fdfdfe;
  border-radius: 5px;
  border: 1px dashed #ced4da;
  padding: 12px 15px;
  margin: 0;
}
.file-block.active p {
  color: #527ba4;
}
.file-block.active .cross {
  display: inline-block;
}
.inputFile {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  color: #818182;
  vertical-align: middle;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.user-list-header {
  border-bottom: 1px solid #e0e2e3;
}

.users-list-table {
  margin-top: 20px;
  margin-bottom: 20px;
}